set clipboard+=unnamedplus
set undodir=~/.vim/undodir
set undofile
set nowrap
set nohlsearch
set incsearch
set scrolloff=8
set signcolumn=yes
set ignorecase
set smartcase

let mapleader = " "

nmap <leader>sd <Action>(GotoDeclaration)
nmap <leader>si <Action>(ShowIntentionActions)
nmap <leader>rn <Action>(RenameElement)
nmap <leader><Right> <Action>(NextTab)
nmap <leader><Left> <Action>(PreviousTab)
map <leader>wh <Action>(HideAllWindows)

